.CategoriesWrapper{
    /* border: 10px solid red; */
    box-sizing: border-box;
    width: 1710px;
    /* Décale l'intérieur du wrapper en rouge des catégories vers la droite pour aligner avec le logo deliveroo 
    A Passer en 160 px au lieu de 130px une fois les border épaisses retirées*/
    /* padding-left:130px;  */
    
}

.category{  /*Gros Rectangle vers regroupant iles rect blancs*/
    /* border: 10px solid green; */
    /* width: 1400px; */
}

.mealPicture{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    /* border: 10px dashed purple; */
    /* display: inline-block */
}

.mealBoxGroup{

    display:flex;
    flex-wrap: wrap;


}
.mealBox{ /* Selectionne les rectangles fond blanc*/
    /* border: 2px solid pink; */
    display: flex;
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    justify-content: space-between;
    background-color: #fff;


}

.mealBox div{
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.mealBox p{
    color: grey;
}


.description{
    text-align: justify;
    /* color:pink;
    background-color: pink; */
}



.mealBox span{
    color:orange;
    font-weight: bold;
}